.imageAndLinkSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backHomeLink {
    font-weight: 500;
    font-size: 24px;
    color: var(--thm-color);
}

.forgotPasswordForm {
    min-height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sendAndVerifyTokenBtn,
.sendAndVerifyTokenBtn:hover,
.sendAndVerifyTokenBtn:active {
    background: var(--thm-color) !important;
    border-radius: 5px !important;
    width: 20%;
    height: 48px;
    color: var(--white) !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.forgotPasswordFormTextSection,
.btnSection {
    text-align: center;
}

.forgotPasswordFormTextSection p {
    font-size: 18px;
}

.errorMessage {
    font-size: 12px;
    color: var(--thm-color) !important;
}

.tokenSection {
    width: 75%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}


.backToLoginBtn,
.backToLoginBtn:hover,
.backToLoginBtn:active {
    border: 1.5px solid #e6ece7 !important;
    border-radius: 5px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: var(--thm-color) !important;
    background: #e6ece7;
    text-transform: none!important;
}

.inputField  {
    width: 100% !important;
    margin-bottom: 32px !important;
}

.modalBoxWidth {
    width: 20vw;
}

.backBtnGrid {
    text-align: end;
}

/*Tablets [900px -> 1200px]*/
@media (min-device-width: 900px) and (max-width: 1200px){
    .modalBoxWidth {
        width: 50vw;
    }
}

/*Big smartphones [600px -> 900px]*/
@media (min-device-width: 640px) and (max-device-width: 900px) {
    .modalBoxWidth {
        width: 65vw;
    }
}

/*Small smartphones [320px -> 640px]*/
@media (min-device-width: 320px) and (max-device-width: 640px) {
    .forgotPasswordSection {
        padding: 10px;
    }

    .backHomeLink {
        font-size: 18px;
    }

    .modalBoxWidth {
        width: 80vw;
    }
}