.mainContainer {
    padding: 20px 120px;
}

.socialMediaSectionContainer {
    display: flex;
    align-items: center;
    text-align: end;
    position: relative;
    left: 28%;
}

.yourQuestionContainer {
    border: 0.5px solid #799F80;
    border-radius: 5px;
    margin-right: 110px !important;
}

.profileImage {
    height: 50px;
    width: 50px;
}

.subjectAutocomplete {
    width: 70%;
    /* background: #EFEFEF; */
    border-radius: 5px;
    margin: 0px auto;
    /* margin-bottom: 10px; */
}

.subjectDropDownTextField {
    color: var(--thm-color);
    top: -6px;
}

.mainContentSection {
    padding: 15px 40px 15px 15px !important;
}

.feedSection {
    padding-right: 10px;
}

.actionPost {
    cursor: pointer;
    display: contents;
}

.actionGrid {
    display: flex;
    justify-content: center;
}

.textCenter {
    text-align: center;
}

.borderRight {
    border-right: 1px solid var(--black);
}

.borderBottom {
    border-bottom: 2px solid var(--thm-color);
    display: inline-block;
}

.actionPost img,
.actionPost svg {
    margin-right: 7px;
}

.forumAndLinkContainer {
    margin-top: 20px !important;
}

.deptWiseSubAutocomplete {
    margin-bottom: 20px;
    background: #EFEFEF;
    border-radius: 5px;
}

.subjectInput {
    font-weight: 500;
    font-size: 10px;
    color: rgba(2, 79, 16, 0.5);
}

.dataNotFoundContainer,
.previewSection {
    margin-top: 20px;
}

.inputField {
    background-color: #EFEFEF;
    color: rgba(2, 79, 16, 0.5) !important;
}

.feedDataMainGrid {
    max-height: 1500px;
    overflow-y: auto;
}

.feedDataInnerGrid {
    margin-right: 100px !important;
}

.forumTypeMenuSection {
    border-bottom: 2px solid #EEEEEE;
}

.activeForumTag {
    border-bottom: 2px solid var(--thm-color);
    color: var(--thm-color);
    padding-bottom: 27px;
}

.forumMenu {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
}

.feedAndLinkSectionMainGrid {
    margin-top: 40px !important;
}

.footerAndGetTheAppContainer {
    margin-top: 100px;
}

.uploadBtnGrid,
.postBtnGrid,
.uploadAndPostBtnContainer,
.inputTextContainer {
    display: flex;
    justify-content: flex-end;
}

.uploadAndPostBtn,
.uploadAndPostBtn:hover,
.uploadAndPostBtn:active {
    border-radius: 5px !important;
    border: 0.5px solid #799f80 !important;
    height: 26px;
    color: var(--black) !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    text-transform: none !important;
}

.formControlInputField {
    width: 100% !important;
    margin-bottom: 32px !important;
}

@media (min-device-width: 900px) and (max-width: 1200px){
}

/*Big smartphones [600px -> 900px]*/
@media (min-device-width: 600px) and (max-device-width: 900px){
}

/*Small smartphones [325px -> 425px]*/
@media (min-device-width: 320px) and (max-device-width: 640px){
    .feedContainer {
        margin: 20px 0px;
    }

    .linkAndSocialMediaIconContainer {
        margin-top: 20px;
    }

    .yourQuestionContainer {
        margin-right: 0px;
    }

    .mainContentSection {
        padding: 15px;
    }

    .feedDataMainGrid {
        max-height: unset;
    }

    .activeForumTag {
        padding-bottom: 10px;
    }

    .forumMenu {
        font-size: 16px;
    }

    .subjectAutocomplete {
        width: 100%;
        margin-top: 15px;
    }
}

@media (min-device-width: 320px) and (max-device-width: 1200px){
    .mainContainer {
        padding: 0px 20px;
    }
}