.departmentTitle {
    color: #1877F2;
}

.previousPapersHeading {
    text-align: center;
}

.previousPapersTextStyle {
    border-bottom: 3px solid var(--yellow);
}

.previousPapersSliderSection {
    margin: 69px 0px 218px !important;
}

.navigationMenuSection {
    text-align: end;
}

.footerSection {
    margin-top: 136px;
}

.active {
    border-bottom: 2px solid var(--thm-color);
    padding: 5px;
    color: var(--thm-color);
    font-weight: 600 !important;
}

.headerStyle {
    cursor: pointer;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.lockButton,
.lockButton:active,
.lockButton:hover {
    width: 91px;
    height: 29px;
    background: var(--thm-color) !important;
    border-radius: 5px !important;
    color: var(--white)!important;
    font-weight: 400 !important;
    font-size: 14px !important;
    text-transform: none !important;
    justify-content: space-around !important;
}

.btnSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.paperSection {
    width: 400px !important;
    box-shadow: 0px 0px 4px #000000;
    border-radius: 10px;
}

.maincontentSection {
    padding: 10px 20px;
}

.sectionTabs {
    margin-bottom: 15px;
}

.unlockButton,
.unlockButton:active,
.unlockButton:hover {
    width: 80px;
    height: 29px;
    background: var(--yellow) !important;
    border-radius: 5px !important;
    color: var(--white) !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    text-transform: none !important;
    justify-content: space-around !important;
}

.rightSection {
    display: flex;
    /* align-items: center; */
    margin-top: 30px;
}

.linkSection {
    display: flex;
    justify-content: flex-end;
}

.socialMediaIconsContainer {
    display: flex;
    align-items: center;
    text-align: end;
    left: 22%;
    position: relative;
}

.paperListSection {
    margin-top: 10px !important;
}

.unlockedPaperSection:hover {
    border-radius: 10px;
    border: 0.1px solid var(--thm-color);
}

.lockedPaperSection {
    background: rgba(239, 239, 239, 0.4);
}

.paperTitle {
    font-weight: 400;
    font-size: 20px;
}

.paperDeptAndExam {
    font-weight: 400;
    font-size: 12px;
    color: var(--thm-color);
}

.marginSpace {
    padding: 0px 120px;
}

.actionBtn,
.actionBtn:active {
    background: #e6ece7 !important;
    border-radius: 10px !important;
    font-weight: inherit !important;
    font-size: 12px !important;
    color: var(--black) !important;
    text-transform: none!important;
    width: 90%;
}

.actionBtn:hover {
    background: var(--thm-color) !important;
    color: var(--white) !important;
}

.btnCenter {
    text-align: center;
}

.totalQuesCount {
    font-weight: 300;
    font-size: 12px;
}

.socialMediaSectionContainer {
    display: flex;
    align-items: center;
    text-align: end;
    position: relative;
    left: 21%;
}

/* Media Query For Responsiveness */

/*Tablets [601px -> 1200px]*/
@media (min-device-width: 900px) and (max-width: 1200px){
    .socialMediaIconsContainer {
        text-align: end;
    }

    .paperListSection {
        padding: 0px 20px;
    }

    .marginSpace {
        padding: 0px 30px;
    }
}

/*Big smartphones [426px -> 600px]*/
@media (min-device-width: 600px) and (max-device-width: 900px){
    .paperListSection {
        padding: 0px 10px;
    }

    .socialMediaIconsContainer {
        text-align: end;
    }

    .marginSpace {
        padding: 0px 30px;
    }
}

/*Small smartphones [325px -> 425px]*/
@media (min-device-width: 320px) and (max-device-width: 640px){
    .headerStyle {
        font-size: 18px;
    }

    .paperListSection {
        padding: 0px 20px;
        text-align: center;
    }

    .marginSpace {
        padding: 0px 20px;
    }

    .socialMediaIconsContainer {
        display: none;
    }
}