.imageAndLinkSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backHomeLink {
    font-weight: 500;
    font-size: 24px;
    color: var(--thm-color);
}

.resetPasswordForm {
    min-height: 550px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.resetPasswordBtn,
.resetPasswordBtn:hover,
.resetPasswordBtn:active {
    background: var(--thm-color) !important;
    border-radius: 5px !important;
    width: 100%;
    height: 48px;
    color: var(--white) !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.resetPasswordFormTextSection {
    text-align: center;
}

.resetPasswordFormTextSection p {
    font-size: 18px;
}

.errorMessage {
    font-size: 12px;
    color: var(--thm-color) !important;
}

.togglePassword {
    cursor: pointer;
}

.tokenSection {
    margin: 0 auto !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.inputField {
    width: 100% !important;
    margin-bottom: 32px !important;
}

/*Tablets [900px -> 1200px]*/
@media (min-device-width: 900px) and (max-width: 1200px){
    .modalBoxWidth {
        width: 45vw;
    }
}

/*Big smartphones [600px -> 900px]*/
@media (min-device-width: 600px) and (max-device-width: 900px) {
    .modalBoxWidth {
        width: 65vw;
    }
}

@media (min-device-width: 750px) and (max-device-width: 900px) {
    .modalBoxWidth {
        width: 50vw;
    }
}
/*Small smartphones [320px -> 640px]*/
@media (min-device-width: 320px) and (max-device-width: 640px) {
    .forgotPasswordSection {
        padding: 10px;
    }

    .backHomeLink {
        font-size: 18px;
    }

    .modalBoxWidth {
        width: 80vw;
    }
}